{% load static %}
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css"href="{% static 'CSS/estilo.css' %}">

</head>
<nav class="navbar justify-content-end navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="logo">
            <img src="/static/img/logo.png" style="width: 200px; height: 40px; margin-top: .5em"></a>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse" color = #FFFF >
            <ul class="nav navbar-nav ">
                <li class="active"><a href="http://127.0.0.1:8000/">Inicio</a></li>
                <li><a href="http://127.0.0.1:8000/registro/">Inscripción</a></li>
                <li><a href="http://127.0.0.1:8000/registro/listar/">Inscritos</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<br>

<body>
<div class="container">
    <h4 align="Top">Bienvenido <strong>@{{nombre}}</strong></h4>
</div>

<div class="container">
    <div class="row" >
    <div class="col-md-8">
    <h2>Solicitud de Adopción</h2>
    <form action="/registro/crear" method="post">
        {% csrf_token %}
               <br>
        <div class="form-group">
            <label for="rut" class="col-sm-2 control-label">RUT</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" name="rut" id="rut" placeholder="numero de RUT" title="Rut Valido" pattern="{9}" required="required">
                <br>
            </div>
        </div>
        <br>
        <br>
            <div class="form-group">
                <label for="nombre" class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="nombre" id="nombre" pattern="{3,30}" title="solo letras, por favor ingresa tu nombre completo" required="required">
                </div>
            </div>
            <br>
            <br>

            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">email</label>
                <div class="col-sm-5">
                    <input type="email" class="form-control" name="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Tu E-Mail correcto" required="required">
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="telefono" class="col-sm-2 control-label">Telefono</label>
                <div class="col-sm-5">
                    <input type="number" class="form-control" name="telefono" id="telefono" placeholder="Tu número de teléfono" title="Tu teléfono correcto" pattern="{9}" required="required">
                </div>
            </div>
            <br>
            <br>
        <div class="form-group">
            <label for="fecha" class="col-sm-2 control-label">Fecha de Nacimiento</label>
            <div class="col-sm-5">
                <input type="date" class="form-control" name="fecha" id="fecha"  title="Fecha de Nacimiento" max="2000-01-01" required="required">
            </div>
            </div>
            <br>
            <br>
        <div class="form-group">
            <label for="region" class="col-sm-2 control-label">Region</label>
            <div class="col-sm-5">
                <input list="region" name="nom_reg" required="required">
                  <datalist id="region">
                    <option value="Region Metropolitana">
                    <option value="Region de Ohiggins">
                    <option value="Region de Valparaiso">
                  </datalist>
            </div>
        </div>
        <br>
        <br>
                <div class="form-group">
            <label for="comuna" class="col-sm-2 control-label">Comuna</label>
            <div class="col-sm-5">
                <input list="comuna" name="nom_comuna" required="required">
                  <datalist id="comuna">
                    <option value="Rancagua">
                    <option value="Con Con">
                    <option value="Valparaiso">
                      <option value="Viña del Mar">
                      <option value="Providencia">
                      <option value="Santiago">
                      <option value="Ñuñoa">
                      <option value="Vitacura">
                      <option value="Las Condes">
                  </datalist>
            </div>
        </div>
        <br>
        <br>
            <div class="form-group">
            <label for="vivienda" class="col-sm-2 control-label">Tipo Vivienda</label>
            <div class="col-sm-5">
                <input list="vivienda" name="tipo-vivienda" required="required">
                  <datalist id="vivienda">
                    <option value="Departamento">
                    <option value="Casa sin Patio">
                    <option value="Casa patio Pequeño">
                      <option value="Casa patio Grande">
                  </datalist>
            </div>
        </div>
        <br>
        <br>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Enviar formulario</button>
                <button type="button" class="btn btn-danger" onclick="window.location.href='//127.0.0.1:8000/'" >Cancelar</button>
            </div>
        </div>
</form>
    </div>
        <div class="col-md-4">
            <img src="/static/img/rescatados/bigotes.jpg" border="1" alt="Este es el ejemplo de un texto alternativo" width="380" height="500">
        </div>
    </div>
</div>
 </body>
<br>
<footer >
    <div class="container">
            <p style="color:white;">contactanos en +569 99 99 999</p>
    </div>
</footer>
</body>
</html>