{% load static %}

<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css"href="{% static 'CSS/estilo.css' %}">

</head>
<nav class="navbar justify-content-end navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="logo">
            <img src="/static/img/logo.png" style="width: 200px; height: 40px; margin-top: .5em"></a>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse" color = #FFFF >
            <ul class="nav navbar-nav ">
                <li class="active"><a href="http://127.0.0.1:8000/">Inicio</a></li>
                <li><a href="http://127.0.0.1:8000/registro/">Inscripción</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<body>
<div class="container">
<div class="row" >
 <h1>Listado de Inscritos para la Adopcion</h1>
</div>
</div>

<div class="container">
    <table style="width:100%">
  <tr>
    <th>RUT</th>
    <th>Nombre Completo</th>
    <th>Email</th>
      <th>Fecha de Nac</th>
      <th>Fono</th>
      <th>Tipo Vivienda</th>
      <th>Region</th>
      <th>Comuna</th>
      <th>Acciones</th>
  </tr>
  <tr>
      {%for e in elementos%}
    <td>{{e.rut}}</td>
    <td>{{e.nombre_full}}</td>
    <td>{{e.email}}</td>
      <td>{{e.fec_nac}}</td>
      <td>{{e.fono}}</td>
      <td>{{e.tipo_vivienda}}</td>
      <td>{{e.region}}</td>
      <td>{{e.comuna}}</td>
      <td><a style="color:blue;" href="/registro/editar/{{e.rut}}">Editar</a><br><a style="color:blue;" href="/registro/eliminar/{{e.rut}}">Eliminar</a></td>
  </tr>
         {%endfor%}


</table>
</div>

</body>
<br>
<br>
<footer >
    <div class="container">
            <p style="color:white;">contactanos en +569 99 99 999</p>
    </div>
</footer>

<script>$('.carousel').carousel()</script>

</html>